<header class="navigation fixed-top bg-primary" style="padding: 0;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand font-tertiary h3" href="{{ site.baseurl }}/">
      {% if site.data.settings.logo %}
        <img src="{{ site.data.settings.logo | absolute_url }}" alt="{{ site.data.settings.title }}">
        {% else if %}
        <h3 class="text-white font-tertiary">{{site.data.settings.title}}</h3>
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ site.baseurl }}/">ANA SAYFA</a>
        </li>
        {% for link in site.data.settings.menu %}
          <li class="nav-item {{ class }}">
            <a class="nav-link" href="{{ link.link }}">{{ link.name }}</a>
          </li>
        {% endfor %}
        <li class="nav- item {{ class }}">
          <script async src="https://cse.google.com/cse.js?cx=25de8dc8b1cc0437d"></script>
          <div class="gcse-search" style="display:inline-block"></div>
        </li>
                <li class="nav-item {{ class }}">
          <button class="nav-link btn btn-primary btn-sm" onclick="howto()" style="border:1px solid #ffffff;" id="install-app">
            <i class="ti-download"></i>
          </button>
        </li>
      </ul>
    </div>
    
    <script>
      function howto() {
      w2popup.open({
        title: 'This feature not available yet.',
        body: '<div class="w2ui-centered">Please visit tomorrow</div>'
    });
      }
    </script>
  </nav>
</header>
