<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{%if page.description%}{{page.description}}{%else%}{{site.data.settings.description}}{%endif%}">
  <link rel="manifest" href="/manifest.json">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Arduino Türk Batu">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon" sizes="128x128" href="/pwa/img/128x128.png">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/pwa/img/128x128.png">
  <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.5.min.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://w2ui.com/src/w2ui-1.5.min.js"></script>
<link rel="icon" sizes="192x192" href="/pwa/img/192x192.png">
<link rel="icon" sizes="128x128" href="/pwa/img/128x128.png">
    
  {% if site.author %}
  <meta name="author" content="{{ . }}">
  {% endif %}
  
  <!-- ** Plugins Needed for the Project ** -->
  {% for css in site.data.plugins.css %}
  <link rel="stylesheet" href="{{ css | relative_url }}">
  {% endfor %}

  <!-- Main Stylesheet -->
  <link href="{{ '/assets/scss/style.css' | relative_url }}" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }} " type="image/x-icon">
  <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }} " type="image/x-icon">

  <!-- google analytics -->
  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}
  
  <script>
        if ('serviceWorker' in navigator) {
        	window.addEventListener('load', function () {
        		navigator.serviceWorker.register('assets/js/sw.js?v=3');
        	});
        }
    </script>
</head>
