@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&family=Noto+Color+Emoji&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");
code {
  font-family: "Noto Sans Mono", "Courier New", Courier, monospace;
  font-style: oblique;
}

#cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(closest-side, var(--background) 79%, transparent 80% 100%), conic-gradient(var(--primary) 0%, var(--white4) 0);
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@keyframes rotateCrs {
  0% {
    width: 300px;
    transform: rotate(0deg);
  }
  50% {
    width: 200px;
  }
  100% {
    width: 300px;
    transform: rotate(360deg);
  }
}
.caution {
  display: block;
  width: 100%;
  background-color: var(--accentBlurred) !important;
  box-shadow: inset 0 0 0 0.5px var(--accent), inset 0 0 10px 4px var(--background), inset 0 -10px 20px 0 var(--primary5) !important;
  border: none;
  outline: none;
  color: var(--white) !important;
  padding: 16px !important;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}
.caution p {
  margin: 0;
  padding: 0;
  z-index: 1 !important;
}
.caution::before {
  content: "\f071";
  font: var(--fa-font-solid);
  position: absolute;
  top: -5px;
  left: 10px;
  transform: rotate(22deg);
  color: var(--accent);
  opacity: 0.4;
  font-size: 4rem;
  font-weight: 900;
  z-index: 0;
}

.emoji {
  font-family: "Noto Color Emoji", "Mulish", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

span.key {
  background-color: var(--accentBlurred);
  border-radius: 5px;
  padding: 2px 10px !important;
  margin-top: 4px !important;
  font-family: "Mulish", "Noto Sans Mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

::-moz-selection {
  text-shadow: 0 0 5px rgb(14, 236, 151);
  background-color: #000;
}

::selection {
  text-shadow: 0 0 5px rgb(14, 236, 151);
  background-color: #000;
}

.modal {
  overflow-x: hidden;
  border: 1px solid var(--accentBlurred);
  background-color: var(--background8);
  max-width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  border-radius: 5px;
  padding: 12px 24px;
  position: fixed;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 250px 250px var(--accentBlurred);
  opacity: 0 !important;
  height: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
}
.modal.show {
  opacity: 1 !important;
  height: auto !important;
  pointer-events: all !important;
  visibility: visible !important;
}
.modal > b, .modal ul > b, .modal ul li > b {
  font-size: 1.05em;
  color: var(--primary);
  text-shadow: var(--primary) 1px 0 10px;
}
.modal button.clsBtn {
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  font-size: 1.2rem;
  aspect-ratio: 1 !important;
  padding: 0;
  width: 2rem;
  height: 2rem;
}

input, textarea {
  border: 1px solid var(--accentBlurred);
  background: var(--background);
  border-radius: 5px;
  color: var(--white);
  padding: 12px 16px;
  font-size: 1.01rem;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Mulish", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input:hover, textarea:hover {
  background-color: var(--background);
  border: 1px solid var(--accent);
}
input:focus, input:focus-visible, textarea:focus, textarea:focus-visible {
  background-color: var(--background);
  border: 1px solid var(--accent);
  box-shadow: 0 5px 18px 0 var(--accentBlurred);
}

html {
  scroll-behavior: smooth;
  accent-color: var(--primary) !important;
}

*::-webkit-scrollbar {
  display: block;
  width: 10px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2509803922);
  border: 1px solid rgba(255, 255, 255, 0.2509803922);
  border-radius: 24px;
}

:root {
  accent-color: var(--primary) !important;
}

.sectionTitle {
  opacity: 0.3;
  font-family: "Noto Sans Mono", "Mulish", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: var(--primary);
  text-decoration: none;
}
a:hover:not(.btn, .droped a, .droped + a), a:hover:not(.innerNav .title) {
  color: var(--secondary);
  text-decoration: underline;
  text-decoration-style: wavy;
}

button, .btn {
  font-family: unset;
  background-color: transparent !important;
  box-shadow: inset 0 0px 1px 0.5px var(--accent) !important;
  border: none;
  outline: none;
  color: var(--white) !important;
  padding: 4px 8px !important;
  border-radius: 5px;
  text-decoration: none !important;
  cursor: pointer;
  pointer-events: unset;
  position: relative;
}
button:hover, .btn:hover {
  box-shadow: inset 0 0px 40px 20px var(--accentBlurred) !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
button:hover::before, .btn:hover::before {
  width: 100% !important;
  transition: 0.2s all;
}
button::before, .btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 25px;
  background: var(--white6) !important;
  transition: 0.2s all;
}
button.active, .btn.active {
  background-color: var(--accent) !important;
}
button.active::before, .btn.active::before {
  width: 100% !important;
  transition: 0.2s all;
}
button[disabled], button:disabled, .btn[disabled], .btn:disabled {
  opacity: 0.2;
  pointer-events: none;
}

select {
  background-color: var(--background) !important;
  font-family: unset;
  color: var(--white);
  box-shadow: inset 0 0px 2px 0 var(--accent) !important;
  border: none;
  outline: none;
  padding: 4px 8px;
  border-radius: 5px;
}
select:hover, select:focus-visible {
  box-shadow: inset 0 0px 40px 20px var(--accentBlurred) !important;
}

* {
  transition: 0.2s all;
}

body {
  position: relative;
  overflow: overlay;
  scrollbar-gutter: stable both-edges;
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--background);
  color: var(--white);
  margin: 0;
  padding: 0;
  font-family: "Mulish", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}
body nav {
  width: 100%;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  height: 3.5rem;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 0.01px solid var(--accent);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 50;
}
body nav .innerNav {
  width: calc(100% - 100px);
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body nav .innerNav > input[type=checkbox] {
  display: none;
}
body nav .innerNav > input[type=checkbox]:checked + div {
  min-height: 150px;
  pointer-events: all;
  color: var(--white);
  padding: 16px;
  opacity: 1;
}
body nav .innerNav a.title {
  text-decoration: none !important;
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}
body nav .innerNav a.title > span .img-container {
  height: 2rem !important;
  width: 2rem !important;
  background-color: var(--accentBlurred);
  border-radius: 50%;
  overflow: hidden !important;
  position: relative;
  z-index: 0;
  /*&::before {
      position: absolute;
      top: 15px;
      left: 15px;
      width: 1rem;
      height: 1rem;
      background: var(--primary);
      content: '';
      z-index: 0;
      border-radius: 50%;
      filter: blur(5px) !important;
  }

  &::after {
      position: absolute;
      top: calc(50% - 15px);
      left: calc(50% - 15px);
      width: 1rem;
      height: 1rem;
      background: var(--secondary);
      content: '';
      z-index: 0;
      border-radius: 50%;
      animation-delay: 1.25s;
      filter: blur(5px) !important;
  }*/
}
body nav .innerNav a.title > span .img-container img {
  position: fixed;
  width: 2rem;
  height: 2rem;
  z-index: 5;
  border-radius: 50%;
}
body nav .innerNav .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 10px;
}
body nav .innerNav .links a {
  text-transform: lowercase;
  text-decoration: none !important;
  color: var(--white6) !important;
  font-size: 1.3em;
}
body nav .innerNav .links a a:hover {
  text-decoration: none !important;
}
body nav .innerNav div.links #menuOpener, body nav .innerNav div.links #menuOpener + label {
  display: none;
}
body nav .innerNav div.links .droped {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 10px;
}
body nav .innerNav div.links .droped:has(a:hover) a:not(:hover) {
  color: var(--white4) !important;
}
body nav .innerNav div.links .droped a {
  text-transform: lowercase;
  text-decoration: none !important;
  color: var(--white6) !important;
  font-size: 1.3rem;
  position: relative;
}
body nav .innerNav div.links .droped a:hover::before {
  width: 100% !important;
  transition: 0.2s all;
}
body nav .innerNav div.links .droped a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: var(--white6) !important;
  transition: 0.2s all;
}
body nav .innerNav div.links .droped a.active {
  color: var(--white8) !important;
}
body nav .innerNav div.links .droped a span {
  color: var(--primary);
  font-size: 0.845rem;
  font-family: "Noto Sans Mono", "Courier New", Courier, monospace;
}
body nav .innerNav div.links .droped a:hover span {
  font-size: 1.3rem;
}
body nav .innerNav .dropdown {
  background-color: var(--background);
  position: absolute;
  right: 150px;
  top: 3rem;
  border: 0.02px solid var(--accent);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  pointer-events: none;
  width: 320px;
  color: transparent;
  padding: 0;
  opacity: 0;
}
body nav .innerNav .dropdown span.sectionTitle {
  opacity: 0.3;
  font-size: 0.8rem;
}
body nav .innerNav .dropdown span.sectionTitle + div {
  width: 100%;
  margin-top: -8.5px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 33.3333333333%);
}
body nav .innerNav .dropdown span.sectionTitle + div button span.alternative {
  font-size: 0.6rem;
  opacity: 0.4;
  margin-bottom: -0.4rem;
  margin-left: 2px;
}
body main > .row-container {
  margin-top: 0;
  padding-top: 20px;
}
body .row-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  width: calc(100% - 8rem);
  height: auto;
  padding-left: 5rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  gap: 2rem;
}
body .row-container .img-container { /*DON'T CHANGE THE COLOR VALUES EVEN IT'S IN THE LIGHT MODE*/
  height: 20rem !important;
  width: 20rem !important;
  background-color: rgb(20, 25, 37);
  border-radius: 50%;
  position: relative;
  z-index: 0;
  box-shadow: 50px 50px 500px 3px var(--accent), -50px -50px 100px 2px var(--accentBlurred);
}
body .row-container .img-container span.itsme {
  position: absolute;
  z-index: 120;
  top: -5px;
  right: 0;
  font-size: 2rem;
  font-family: "Caveat", cursive;
  width: auto;
}
body .row-container .img-container span.itsme::before {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  background-image: url(../images/turn-right-arrow-svgrepo-com.svg);
  z-index: 120;
  height: 119px;
  width: 150px;
  filter: invert(100%);
  transform: rotateZ(146deg);
  margin-right: -100px;
  margin-bottom: -40px;
}
body .row-container .img-container::before {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 10rem;
  height: 10rem;
  background: var(--primary);
  content: "";
  z-index: -1;
  border-radius: 50%;
  animation: changePosition 5s infinite;
  animation-delay: 0;
}
body .row-container .img-container::after {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 10rem;
  height: 10rem;
  background: var(--secondary);
  content: "";
  z-index: -1;
  border-radius: 50%;
  animation: changePosition 5s infinite;
  animation-delay: 2.5s;
}
@keyframes changePosition {
  0%, 100% {
    top: 30px;
    left: 30px;
  }
  50% {
    top: calc(50% - 30px);
    left: calc(50% - 30px);
  }
}
body .row-container .img-container img {
  width: 20rem;
  height: 20rem;
  z-index: 5;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(4rem);
          backdrop-filter: blur(4rem);
}
body .row-container div.info h1 > span {
  color: var(--primary);
}
body .row-container div.info h1 > span:first-child {
  color: var(--secondary) !important;
}
body .row-container .content-container {
  width: calc(100% - 30rem);
  display: flex;
  flex-direction: column;
}
body .about-section {
  padding-top: 50px;
  margin-left: 5rem;
  margin-right: 5rem;
}
body .about-section h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  z-index: 2;
}
body .about-section h2 {
  padding-top: 10px !important;
  font-size: 2.5rem;
  margin-left: 2rem !important;
  margin: 0;
  padding: 0;
  z-index: 2;
}
body .about-section .aboutst {
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 1.2rem;
  padding-top: 8px;
}
body .about-section .row-container {
  width: calc(100% - 10rem);
  margin: 0;
  margin-left: 40px;
  padding: 0;
  gap: 20px;
  position: relative;
}
body .about-section .row-container::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--primary);
  filter: blur(100px);
}
body .about-section .row-container > div {
  width: 50%;
}
body .about-section .row-container > div .cards {
  display: grid;
  margin: 0 auto;
  gap: 10px;
  width: 100%;
}
body .about-section .row-container > div .cards .s-card {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  background-color: var(--background5);
  border: 1px solid var(--accentBlurred);
  padding: 16px 16px;
}
body .about-section .row-container > div .cards .s-card i {
  font-size: 1.45rem;
  color: var(--secondary);
}
body .about-section .row-container > div .cards .s-card p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-top: 7px;
  display: inline;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
body .about-section .row-container > div .cards .s-card p span {
  display: block;
  font-weight: normal;
}
body .about-section .row-container > div h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
body .works-section {
  padding-top: 50px;
  margin-left: 5rem;
  margin-right: 5rem;
}
body .works-section > .card {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
  border: 1px dashed var(--accentBlurred);
  background: transparent;
  border-radius: 5px;
  color: var(--white);
  padding: 8px 16px;
  text-align: center;
}
body .works-section > .card:hover {
  background-color: var(--background);
  border: 1px solid var(--accent);
  box-shadow: 0 5px 18px 0 var(--accentBlurred);
}
body .works-section h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  z-index: 2;
}
body .works-section .cards {
  padding-top: 20px;
  max-width: calc(100% - 10rem);
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
body .works-section .cards .card {
  border: 1px solid var(--accentBlurred);
  background: transparent;
  border-radius: 5px;
  color: var(--white);
  padding: 8px 16px;
  position: relative;
}
body .works-section .cards .card:hover {
  background-color: var(--background);
  border: 1px solid var(--accent);
  box-shadow: 0 5px 18px 0 var(--accentBlurred);
}
body .works-section .cards .card:hover h1 {
  color: var(--primary) !important;
}
body .works-section .cards .card:hover a {
  color: var(--primary5) !important;
}
body .works-section .cards .card h1 {
  font-size: 2rem;
  color: var(--white);
}
body .works-section .cards .card p {
  padding-top: 5px;
  padding-bottom: 7px;
  color: var(--white);
  opacity: 0.7;
}
body .works-section .cards .card div.seeon {
  position: absolute;
  top: 16px;
  right: 16px;
}
body .works-section .cards .card .maded {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
body .works-section .cards .card .maded .lang-js::before {
  content: "● ";
  color: orange;
}
body .works-section .cards .card .maded .lang-html::before {
  content: "● ";
  color: orangered;
}
body .works-section .cards .card .maded .lang-css::before {
  content: "● ";
  color: aqua;
}
body .works-section .cards .card .maded .lang-astro::before {
  content: "● ";
  color: hotpink;
}
body .works-section .cards .card a {
  color: var(--white6);
}
body .works-section .cards .card a:hover {
  color: var(--white8) !important;
}
body .works-section .cards .card * {
  margin: 0;
  padding: 0;
}
body .blog-section {
  padding-top: 50px;
  margin-left: 5rem;
  margin-right: 5rem;
}
body .blog-section h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  z-index: 2;
}
body .blog-section .cards {
  padding-top: 20px;
  max-width: calc(100% - 10rem);
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
body .blog-section .cards .card {
  border: 1px dashed var(--accentBlurred);
  background: transparent;
  border-radius: 5px;
  color: var(--white);
  padding: 8px 16px;
  position: relative;
}
body .blog-section .cards .card.activeCard {
  max-height: unset !important;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  width: 90% !important;
  height: 90vh !important;
  z-index: 70 !important;
  overflow: auto !important;
}
body .blog-section .cards .card.activeCard p {
  margin-top: 1rem !important;
  height: unset !important;
  font-size: 1.05rem !important;
  margin-left: 5rem !important;
  margin-right: 5rem !important;
  opacity: 1 !important;
}
body .blog-section .cards .card.activeCard .maded .btn {
  display: none !important;
}
body .blog-section .cards .card.activeCard .maded .sectionTitle {
  text-align: center;
  width: 100%;
}
body .blog-section .cards .card.activeCard > .btn {
  float: left;
  margin-right: 10px !important;
  font-size: 1.2rem;
  display: unset !important;
}
body .blog-section .cards .card:hover {
  background-color: var(--background);
  border: 1px solid var(--accent);
  box-shadow: 0 5px 18px 0 var(--accentBlurred);
}
body .blog-section .cards .card:hover h1 {
  color: var(--primary) !important;
}
body .blog-section .cards .card h1 {
  font-size: 2rem;
  color: var(--white);
}
body .blog-section .cards .card > .btn {
  display: none;
}
body .blog-section .cards .card p {
  padding-top: 5px;
  padding-bottom: 7px;
  color: var(--white);
  opacity: 0.7;
  height: 120px;
  overflow: hidden !important;
}
body .blog-section .cards .card div.seeon {
  position: absolute;
  top: 16px;
  right: 16px;
}
body .blog-section .cards .card .maded {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
body .blog-section .cards .card .maded .lang-js::before {
  content: "● ";
  color: orange;
}
body .blog-section .cards .card .maded .lang-html::before {
  content: "● ";
  color: orangered;
}
body .blog-section .cards .card .maded .lang-css::before {
  content: "● ";
  color: aqua;
}
body .blog-section .cards .card .maded .lang-astro::before {
  content: "● ";
  color: hotpink;
}
body .blog-section .cards .card a {
  color: var(--white);
  opacity: 0.6;
}
body .blog-section .cards .card a:hover {
  opacity: 0.8 !important;
}
body .blog-section .cards .card * {
  margin: 0;
  padding: 0;
}
body .mailcon {
  z-index: 50;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  bottom: 20px;
  right: 0;
  gap: 10px;
}
body .mailcon a {
  color: #fff !important;
  font-family: "Noto Sans Mono", "Mulish", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.2s all;
}
body .mailcon a:hover {
  background: linear-gradient(270deg, var(--primary) -20%, var(--secondary) 120%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(9, 11, 16); /*DON'T CHANGE THIS*/
  transition: 0.2s all;
}
body .mailcon:has(a:hover) .line {
  background: var(--primary) !important;
}
body .mailcon .line {
  height: 1px;
  width: 80px;
  background: var(--white);
}
body .contact-section {
  padding-top: 50px;
  margin-left: 0rem;
  margin-right: 10rem;
}
body .contact-section .row-container {
  gap: 50px;
  padding-bottom: 3rem !important;
}
body .contact-section .info {
  width: -moz-max-content !important;
  width: max-content !important;
}
body .contact-section > h1 {
  font-size: 3rem;
  margin-left: 5rem !important;
  margin: 0;
  padding: 0;
  z-index: 2;
}
body .contact-section h2 {
  margin-bottom: 0;
}
body .contact-section .labels {
  margin-top: -5px;
  right: 12rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-weight: 500;
  font-size: 1.01rem;
  text-align: right;
  pointer-events: none;
  align-items: flex-end;
}
body .contact-section .labels label {
  background-color: var(--background);
  border-radius: 5px;
  width: -moz-max-content !important;
  width: max-content !important;
  display: inline;
  padding: 2px 8px;
}
body .contact-section .form {
  width: 100%;
}
body .contact-section .form form *:not(i, label) {
  width: 100%;
}
body .contact-section .form form textarea {
  resize: vertical;
  min-height: 150px;
}
body .contact-section .form form button[type=submit] {
  display: inline;
  cursor: pointer;
  width: -moz-max-content !important;
  width: max-content !important;
  text-align: center;
  padding: 8px 16px !important;
  font-size: 1.01rem;
  float: right;
  background-color: var(--background) !important;
  margin-right: 0;
}
body .contact-section h2 img {
  height: 1.5rem;
  opacity: 1 !important;
}
body .contact-section .row-container {
  margin-top: 0 !important;
}
body .contact-section .row-container ul li {
  font-size: 1.2rem;
  list-style-type: none;
  margin-bottom: 4px;
}

footer {
  position: relative;
  margin-top: 0;
  padding: 9px;
  border-top: 1px solid var(--accentBlurred);
  text-align: center;
  background-color: var(--background5);
}
footer::after {
  content: "";
  position: absolute;
  bottom: 600px;
  right: 0;
  height: 500px;
  width: 500px;
  background: linear-gradient(to left, var(--primary), var(--secondary));
  border-radius: 50% 0;
  z-index: -1;
  filter: blur(200px);
  animation: rotateIt 10s infinite;
}
footer p {
  margin: 0;
  padding: 0;
  padding-bottom: 5px !important;
}
footer button.debug {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.01rem;
  border-radius: 0;
  box-shadow: none !important;
  background: var(--secondary) !important;
  color: var(--primary) !important;
  font-family: "Noto Sans Mono", "Courier New", Courier, monospace;
}

@media (max-width: 765px) {
  .droped {
    z-index: -1 !important;
    flex-direction: column !important;
    gap: 10px !important;
    align-items: start !important;
    justify-content: center !important;
    padding-left: 2rem !important;
    font-size: 2rem !important;
    position: absolute !important;
    height: 0 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    color: transparent !important;
    pointer-events: none !important;
    opacity: 0 !important;
    overflow: auto !important;
    padding-bottom: 20px !important;
  }
  .droped a {
    font-size: 2rem !important;
  }
  .droped a span {
    font-size: 1.3rem !important;
  }
  .droped a:hover span {
    font-size: 2rem !important;
  }
  .droped a:hover {
    padding-left: 1.5rem !important;
  }
  div.links #menuOpener:checked + label + .droped {
    opacity: 1 !important;
    padding-top: 3.2rem !important;
    height: auto !important;
    background: var(--background) !important;
    border-bottom: 0.01px solid var(--accent);
    color: unset !important;
    pointer-events: all !important;
  }
  div.links #menuOpener + label {
    display: unset !important;
    position: relative !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: transparent;
    cursor: pointer;
  }
  div.links #menuOpener + label span:nth-child(1) {
    background: var(--white);
    opacity: 0.4;
    width: 1.2rem;
    height: 2.5px;
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
    border-radius: 2px;
  }
  div.links #menuOpener + label span:nth-child(2) {
    background: var(--white);
    opacity: 0.4;
    width: 1.2rem;
    height: 2.5px;
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
    border-radius: 2px;
  }
  div.links #menuOpener:checked + label span:nth-child(1) {
    background: var(--white);
    opacity: 0.4;
    width: 1.2rem;
    height: 2px;
    display: block;
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg) !important;
    border-radius: 2px;
  }
  div.links #menuOpener:checked + label span:nth-child(2) {
    background: var(--white);
    opacity: 0.4;
    width: 1.2rem;
    height: 2px;
    display: block;
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(-45deg) !important;
    border-radius: 2px;
  }
  main > .row-container {
    padding-left: 20px !important;
  }
  .about-section .row-container {
    margin-left: 0 !important;
  }
  .row-container {
    flex-direction: column !important;
  }
  .row-container > div {
    width: 100% !important;
  }
  .row-container > div .cards {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .row-container .content-container {
    width: 100% !important;
  }
  .row-container .labels {
    right: 3rem !important;
  }
  .aboutst {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .about-section, .works-section, .blog-section, .contact-section {
    margin-left: 1rem !important;
    margin-right: 0 !important;
  }
  .contact-section > h1.sectionTitle {
    margin-left: 0 !important;
  }
  .contact-section .row-container {
    gap: 1px !important;
    margin-left: -1rem !important;
    padding-left: 20px !important;
  }
  .works-section .cards, .blog-section .cards {
    max-width: 100% !important;
  }
  .mailcon {
    transform: rotateZ(0deg) !important;
    bottom: 10px !important;
  }
  .mailcon *:not(.emoji, div, a) {
    display: none;
  }
}
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@keyframes rotateIt {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.container {
  background-color: var(--background);
  position: fixed;
  z-index: 70;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  height: 100vh;
  pointer-events: all;
}
.container.remove {
  opacity: 0;
  visibility: hidden;
  height: 0;
  pointer-events: none;
}
.container section.sect, .container img {
  width: 70px;
  height: 70px;
}
.container div {
  position: absolute;
  width: 90px;
  height: 51px;
}
.container div:nth-of-type(2) {
  transform: rotate(60deg);
}
.container div:nth-of-type(3) {
  transform: rotate(-60deg);
}
.container div div {
  width: 100%;
  height: 100%;
  position: relative;
  animation: rotateIt 7.2s infinite ease;
}
.container div div span {
  position: absolute;
  width: 4px;
  height: 0%;
  background: var(--primary);
  z-index: 999999;
}
@keyframes rotateIt {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.container .h1 {
  left: 0;
  animation: load1 7.2s ease infinite;
}
.container .h2 {
  right: 0;
  animation: load2 7.2s ease 0.6s infinite;
}
.container .h3 {
  right: 0;
  animation: load3 7.2s ease 1.2s infinite;
}
.container .h4 {
  right: 0;
  animation: load4 7.2s ease 1.8s infinite;
}
.container .h5 {
  left: 0;
  animation: load5 7.2s ease 2.4s infinite;
}
.container .h6 {
  left: 0;
  animation: load6 7.2s ease 3s infinite;
}

@keyframes load1 {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.944444433% {
    top: 0;
    height: 0;
  }
  /*   91.6666667%{top:0;height:0%;} */
}
@keyframes load2 {
  0% {
    top: 0;
    height: 0;
  }
  6.944444444% {
    top: 0;
    height: 100%;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  59.944444433% {
    bottom: 0;
    height: 0;
  }
  /*   91.6666667%{bottom:0;height:0%} */
}
@keyframes load3 {
  0% {
    top: 0;
    height: 0;
  }
  6.944444444% {
    top: 0;
    height: 100%;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  59.94444443% {
    bottom: 0;
    height: 0;
  }
  /*   91.6666667%{bottom:0;height:0%;} */
}
@keyframes load4 {
  0% {
    top: 0;
    height: 0;
  }
  6.944444444% {
    top: 0;
    height: 100%;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  59.94444443% {
    bottom: 0;
    height: 0;
  }
  /*   91.6666667%{bottom:0;height:0%;} */
}
@keyframes load5 {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.94444443% {
    top: 0;
    height: 0;
  }
  /*   91.6666667%{top:0;height:0%;} */
}
@keyframes load6 {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.94444443% {
    top: 0;
    height: 0;
  }
  /*   91.6666667%{top:0;height:0%;} */
}/*# sourceMappingURL=style.css.map */