---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body> 
    <div class="cursor">
  <div class="cursor__ball cursor__ball--big ">
    <svg height="30" width="30">
      <circle cx="15" cy="15" r="12" stroke-width="0"></circle>
    </svg>
  </div>
  
  <div class="cursor__ball cursor__ball--small">
    <svg height="10" width="10">
      <circle cx="5" cy="5" r="4" stroke-width="0"></circle>
    </svg>
  </div>
</div>
    <div class="intro">
  <h1 class="load">Yükleniyor...</h1>
  <img src="/assets/images/preloader.gif" alt=".G!F">
</div>
    <style>
        .intro {
            z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #41228e;
  color: #fff;
  display: flex;
  justify-content: center;
}
.intro h1.load {
  font-size: 72px;
  margin-left: -100px;
}
.intro img {
  width: 100px;
  height: 100px;
  margin-left: -300px;
  margin-top: 200px;
}
.intro.remove {
  opacity: 0;
  display: none;
  pointer-events: none;
}
    </style>
    <script>
        if (document.readyState == "complete") {
  document.querySelector(".intro").classList.add("remove");
} else {
  document.querySelector(".intro").classList.remove("remove");
}

    </script>
  
  {% include header.html %}
  <div data-scroll-container>

    {{ content }}
  
    {% include contact-section.html %}
  
    {% include footer.html %}
  </div>
  
</body>

</html>
